* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}



[hidden] {
    display: none;
}

h1, h2, p {
    margin: 0;
}

button {
    border: none;
    box-shadow: none;
    cursor: pointer;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

ul,
ul li,
ul ul li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

input {
    color: #333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
